@import url("css/header.css");
@import url("css/banner.css");
@import url("css/carrocel.css");
@import url("css/topicos.css");
@import url("css/contato.css");
@import url("css/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #020f4a;
    --fonte-principal: "roboto";
    --fonte-secundaria: "josefi";

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}